<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>输入框数据更新的触发条件更改</title>
		<script type="text/javascript" src="../js/angular.js" ></script>
	</head>
	<body>
		<div ng-app='hd' ng-controller='ctrl'>
			<!--实时更新数据-->
			<input type="text" ng-model='title00' />
			{{title00}}
			<hr />
		  <!--ng-model-options="{updateOn:'blur'}" 当光标离开时触发，改变数据-->
		  <input type="text" ng-model='title' ng-model-options="{updateOn:'blur'}">
		  {{title}}
		  <hr />
		  <!--ng-model-options="{debounce:3000}" 停止输入几秒后更新数据-->
		  <input type="text" ng-model='title02' ng-model-options="{debounce:3000}">
		  {{title02}}
		  <hr />
		  <!--光标离开时马上触发改变数据，并且 停止输入几秒后也更新数据-->
		  <input type="text" ng-model='title03' ng-model-options="{updateOn:'default blur',debounce:{default:3000,blur:0}}">
		  {{title03}}
		  
		</div>
	<script>
		var m = angular.module('hd',[]);
		m.controller('ctrl',['$scope',function($scope){

		}])
	</script>
	</body>
</html>