<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>数据排序</title>
		<script type="text/javascript" src="../js/angular.js" ></script>
	</head>
	<body>
		<div ng-app='hd' ng-controller='ctrl'>
			 <table border="1" width="600">
			 	<tr>
			 		<td ng-click='orderBy("id")'>编号</td>
			 		<td ng-click='orderBy("click")'>点击数</td>
			 		<td ng-click='orderBy("title")'>标题</td>
			 	</tr>
			 	<tr ng-repeat='v in data'>
			 		<td>{{v.id}}</td>
			 		<td>{{v.click}}</td>
			 		<td>{{v.title}}</td>
			 	</tr>
			 </table>
		</div>
	<script>
		var m = angular.module('hd',[]);
		m.controller('ctrl',['$scope','$filter',function($scope,$filter){
              $scope.data=[
                 {id:1,click:100,title:'后盾人'},
                 {id:2,click:400,title:'java'},
                 {id:3,click:200,title:'后盾网'}
              ];
              $scope.orderBy = function(field){
//              arguments.callee[field]  函数每次执行完都会被清除,但arguments.callee[]不会被清除掉,因此,arguments.callee[]可以记录上次点击时的状态
//                                       注意此方法可以切换两次点击的效果;
                if(arguments.callee[field]==undefined){
                	arguments.callee[field] = false;
                }
                arguments.callee[field] = !arguments.callee[field]
              	$scope.data = $filter('orderBy')($scope.data,field,arguments.callee[field])
              	console.log(arguments.callee[field]);
                console.log(arguments);
              }
		}])
	</script>
	</body>
</html>
